html {
  box-sizing: border-box;
}
body{
  margin:0;
}
h1, body p, h2, button[type*="submit"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  margin-top:15px;
  margin-bottom:15px;
  text-align: center;
}
h1 {
  background-color: #ffc0cb;
  margin-top:0;
  padding:10px 0px;
  font-family: 'Merriweather', serif;
}
body p, label,legend:not(fieldset legend:first-child),placeholder, .dis {
  color: #778899;
}

legend {
  border: none;
  border-top:#ffc0cb solid 10px;
  border-top-style: double;
  width:100%;
}
fieldset {
  border:none;
}
form {
  display: block;
  width: 90%;
}
input {
  display:inline-block;
  padding-bottom:10px;
  padding-top: 0px;
}
legend {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

fieldset:first-of-type input, fieldset:first-of-type select {
  background-color:	rgba(128,128,128,.3);
  border:none;
  border-radius:15px;
  height:50px;
  width:calc(100%);
}
.container input:last-of-type {
  width:50%;
  margin-top:15px;
  display: block;
}
input[type='text']::placeholder, input[type='email']::placeholder, input[type='tel']::placeholder {
  text-align:right;
  padding-right:10px;
}
.box {
  padding:12px;
}
.container label {
  margin:12px;
  display:block;
}
#other {
  border:none;
  background-color:	rgba(128,128,128,.3);
  height:80px;
  border-radius:15px;
}
button {
  width:85%;
  padding:30px 0px;
  font-size: 30px;
  color:white;
  border:none;
  background-color:#00ace6;
  border-radius:15px;
}
body p:not(article p) {
  font-style: italic;
}
textarea {
  width:20rem;
}
fieldset:First-of-type input:focus , #other:focus ,button:focus ,#state:focus, checkbox, fieldset:last-of-type input {
  background:pink;
  transition: all 1s ease-in-out;
}


/**Media Queries-----------------------------------**/
@media screen and (min-width:768px) {
  form {
    display:flex;
    flex-wrap: wrap;
    width:45rem;
    margin:auto;
    justify-content: center;
  }
  fieldset {
    padding:10px 0px;
    width:37rem;
    justify-content: center;
  }
  button {
    width:37rem;
    border-radius: 5px;
    padding: 15px;
    justify-content: center;
  }
  .container {
    display: inline;
    width:37rem;
  }
  .container label {
    margin:0px;
    display: inline-block;
    margin:30px 0px;
    padding-top:10px;
    width:8rem;
  }
  .container input,.container select,.container input:last-of-type {
    margin:0;
    display: inline;
    margin: 30px 20px;
    width:10em;
  }
  fieldset:first-of-type select {
    padding-bottom:10px;
    padding:0px 2px 10px;
    min-height:60px;
  }
  fieldset:first-of-type select, fieldset:first-of-type input {
    width:23rem;
  }
  textarea {
    width:37rem;
  }
  .container input:last-of-type {
    width:25%;
  }
}
